<html>
    <head>
        <title>{{title}} - MyPage</title>
    </head>

    <body> 
        <a href="login">Login</a>
        <a href="update">Update Date</a>
        <a href="remove">Remove Date</a>
        <a href="reset">Reset Year</a>

        {% with messages  = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
